body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background: url('https://media.istockphoto.com/id/1466057420/vector/80s-retro-futuristic-sci-fi-illustration-retrowave-video-game-landscape-with-neon-grids.jpg?s=612x612&w=0&k=20&c=qp7sWF94R7KzFqNXoJANSF408lkHKigeLnWkd1TDvk0=')
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  box-shadow: 0 0 20px red;
  max-width: 400px;
  width: 90%;
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

input[type="number"] {
  padding: 0.5rem;
  width: 80%;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
  text-align: center;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: white;
  color:black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
}

#feedback {
  font-size: 1rem;
  margin-top: 1rem;
}

#lives {
  font-size: 0.9rem;
  color: lightgray;
  margin-top: 0.5rem;
}
